<h1><%= @user.name %></h1>

<% @user.studios.each do |s| %>
<li><%= link_to s.name, studio_path(s.id) %> - <%= link_to "Update", edit_studio_path(s.id)%></li>
<% end %>

<%= link_to "Add Studio", new_studio_path %>
