@import "bootstrap";

// body {
//     background-color: black;
// }

html, body {
    height: 100%;
}

body {
    background-color: darkgray;
}

.fill {
    background-color: white;
    min-height: 100%;
    // padding: 50px;
}

.user_studios {
    padding: 10px 5px;
    min-width: 100%
}

figure {
    width: 100%;
    overflow: hidden;
    margin: 0;
    height: 500px;
    position: relative;
}
figure img {
    display: block;
    width: 100%;
    margin: 0 -20% -5% 0;
    // vertical-align: bottom;
    position: absolute;
    bottom: 25px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}


.header {
    position: absolute;
    z-index: 1;
    padding-left: 20px;
}

.bottom {
    padding-top: 267px;
}

.content {
    padding-bottom: 25px;
}

.fff .container {
    margin-left: -15px;
}

.foot {
    position: fixed;
    // left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}


.foot p {
    margin: 0;
}

#big_header {
    font-size: 100px;
}
// .user_show_img {
//     max-width: 200px;
// }

// .u_studio_width {
//     min-width: 500px;
// }

#nav {
    background-color: rgb(255, 105, 79);
    padding: 10px;

}

#nav a {
    font-weight: bold;
    color: white;
}

a {
    color:rgb(52, 120, 246);
    font-family: 'Merriweather', serif;
}

.studio_show img {
    min-height: 300px;
    max-height: 300px;
    margin: 0 auto;
}

.studio_show {
    width: 50%;
    
}

.crop {
    height: 250px;
    overflow: hidden;
}

.crop img {
    height: auto;
    width: 100%;
}

.right {
    float: right;
    display: inline-block;
    padding-right: 10px;
}

.left {
    padding-left: 10px;
}


// colors
.blue_bg {
    background-color: rgb(52, 120, 246);
}

.blue {
    color: rgb(52, 120, 246);
}

.softblue_bg {
    background-color: rgb(54, 124, 255);
}

.softblue {
    color: rgb(54, 124, 255);
}

.orange_bg {
    background-color: rgb(255, 105, 79);
}

.orange {
    color: rgb(255, 105, 79);
}

.green_bg {
    background-color: rgb(149, 204, 23);
}

.green {
    color: rgb(149, 204, 23);
}

.hunter_bg {
    background-color: rgb(133, 178, 29);
}

.hunt {
    color: rgb(133, 178, 29);
}

.white {
    color: white;
}

// Fonts

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Merriweather', serif;
}