<div class="header">
    <h1 id="big_header">GDesign</h1>
    <h2>Connect with the artist you need</h2>
    <h5><em>Great graphic design is just a click away!</em></h5>
    <p class="bottom">Easy to search. Easy to sign up.</p>
</div>
<figure>
    <%= image_tag("https://www.digitalplatforms.co.za/wp-content/uploads/2016/05/Graphic-Designer.jpg") %>
</figure>
<hr>
<% @studios.each_slice(4) do |row|%>
    <div class="row">
        <% row.each do |s| %>
            <div class="col-md-3">
                <div class="card">
                    <div class="crop">
                        <img class="card-img-top" src="<%= s.image_url %>" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= s.name %></h5>
                        <%= link_to("Show", "/studios/#{s.id}", class: "btn btn-outline-secondary btn-sm")%>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>

